#myProducts {
  width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}
.orderTable {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}
.orderTable table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
}

.orderTable table th,
.orderTable table td {
  border: 1px solid gainsboro;
  background-color: white;
  padding: 5px;
  text-align: center;
}
.orderTable table th {
  background-color: var(---primaryColor);
  color: white;
}
.viewBtn {
  padding: 5px 8px;
  font-size: 14px;
  background-color: #228b2236;
  border-radius: 3px;
  color: var(---primaryColor);
  font-weight: 500;
  transition: all 0.3s;
}
.viewBtn:hover {
  background-color: var(---primaryColor);
  color: white;
}
.productImage {
  width: 150px;
  height: 50px;
  object-fit: contain;
}
/* Responsive part */
@media only screen and (max-width: 1200px) {
  #myProducts {
    width: 100%;
  }
}
