#myProfile {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  min-height: 70vh;
}
#myProfile .profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#myProfile .profileContainer img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: contain;
  outline: 3px solid var(---primaryColor);
  outline-offset: 5px;
}
#myProfile .profileContainer .profileEditButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#myProfile .profileContainer .profileEditButton button {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  background-color: var(---primaryColor);
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
#myProfile .profileOthersInfo {
  margin-top: 20px;
  width: 100%;
}
#myProfile .profileOthersInfo table {
  max-width: 40%;
  min-width: 40%;
  margin: 0 auto;
}
#myProfile .profileOthersInfo table td {
  border: none;
  text-align: left;
}
#myProfile .profileOthersInfo table td b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#myProfile .profileOthersInfo table tr td:last-child {
  padding-left: 50px;
}
@media only screen and (max-width: 1200px) {
  #myProfile {
    width: 100%;
  }
  #myProfile .profileOthersInfo table {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
