.mpImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  outline: 3px solid var(---primaryColor);
  outline-offset: 5px;
}
.mpImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.mpImageContainer .mpContainerButton {
  background-color: #f6f1f2;
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed gainsboro;
}
.mpImageContainer .mpContainerButton button {
  background-color: transparent;
  color: black;
  outline: 2px solid var(---primaryColor);
  border-radius: 6px;
  font-weight: bold;
  transform: scale(1);
  transition: all 0.3s;
}
.mpImageContainer .mpContainerButton button:hover {
  transform: scale(0.9);
}
